In [4]:
import pandas as pd
import matplotlib.pylab as plt
import numpy as np

df="clean_df.csv"
# headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
#          "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
#          "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
#          "peak-rpm","city-mpg","highway-mpg","price"]
df=pd.read_csv(df,names=None)
#print(df)


# print("------------------------------------------------------------")

# #Searching missing data and storing null all data in variable then displaying the counts
# missing_data=df.isnull()

# for check in missing_data.columns.values.tolist():
#     print(missing_data[check].value_counts())
#     print("")

# #Finding mean and replacing for normalized-losses
# replaced_mean_norm_loss=df["normalized-losses"].astype("float").mean(axis=0)
# df["normalized-losses"].replace(np.nan,replaced_mean_norm_loss,inplace=True)

#Finding mean and replacing for Bore
replaced_mean_bore=df["bore"].astype("float").mean(axis=0)
df["bore"].replace(np.nan,replaced_mean_bore,inplace=True)

df.head()

# df["height"]=df["height"]/df["height"].max()
# print(df["height"])

,Unnamed: 0,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,fuel-type-diesel,fuel-type-gas
0,0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,...,9.0,111,5000.0,21,27,13495.0,11.190476,Low,False,True
1,1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,...,9.0,111,5000.0,21,27,16500.0,11.190476,Low,False,True
2,2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,...,9.0,154,5000.0,19,26,16500.0,12.368421,Medium,False,True
3,3,2,164,audi,std,four,sedan,fwd,front,99.8,...,10.0,102,5500.0,24,30,13950.0,9.791667,Low,False,True
4,4,2,164,audi,std,four,sedan,4wd,front,99.4,...,8.0,115,5500.0,18,22,17450.0,13.055556,Low,False,True